/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap'); */
/* @import url('../pages/index.html'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    font-family: 'Sans-serif';
} */



.start_btn, .info_box, .quiz_box, .result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
                0px 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.5 ease;
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
    transform: translate(-50%, -50%) scale(1);
}

/*Estilos del inicio*/

.start_btn button{
    font-size: 25px;
    color: #000000;
    padding: 15px 30px;
    outline: none;
    border-radius: 10px;
    background: rgb(16, 90, 86);
    cursor: pointer;
}

.start_btn, .info_box, .quiz_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start_btn button:hover{
    font-size: 25px;
    color: white;
    padding: 15px 30px;
    outline: none;
    border-radius: 10px;
    background: black;
    cursor: pointer;
}

.info_box{
    width: 540px;
    background: #235B4E;
    color: white;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, 50%) scale(0.9);
}

.info_box .info_title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 20px;
}

.info_box .info_list{
    padding: 15px 35px;
}

.info_box .info_list .info{
    margin: 5px 0;
    font-size: 17px;
}
.info_box .info_list span{
    font-weight: 900;
    color:cyan;
}

.info_box .buttons{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    border-top: 1px solid white;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 200px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.info_box button.restart{
    color: white;
    border-color: white;
    background: black;
}

.info_box button.quit{
    color: black;
    border-color: black;
}

.quiz_box{
    width: 550px;
    background: #235B4E;
    color: white;
    border-radius: 10px;
    font-family: 'Arial';
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.quiz_box header{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    text-align: space-between;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
    user-select: none;
}

.quiz_box header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    height: 45px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 0 8px;
}

.quiz_box header .timer .time_text{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_min{
    font-size: 18px;
    font-weight: 500;
    background: #330983;
    height: 30px;
    width: 80px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-content: center;
    line-height: 30px;
    border-radius: 10px;
    border: 1px solid #343A40;
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    width: 50%;
    background: #235B4E;
}

.quiz_box section{
    padding: 25px 30px 20px 30px;
}

.quiz_box section .que_text{
    font-size: 22px;
    font-weight: 600;
    color: #000000;
}

.quiz_box section .option_list{
    padding: 20px 0;
    display: block;
}

section .que_text{
    user-select: none;
}

section .option_list .option{
    background: aliceblue;
    color: black;
    border: 1px solid #235B4E;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.5s ease;
}

section .option_list .option:hover{
    color: #10312B;
    background: #eba946;
    border-color: #eba946;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

.option_list .option .icon{
    display: flex;
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}

.option_list .option .icon.tick{
    color: #23903C;
    border-color: #23903C;
    background: #D4EDDA;
}

.option_list .option .icon.cross{
    color:  #9D2449;
    border-color:  #9D2449;
    background: #F8D7DA;
}

.option_list .option.correct{
    color: #155724;
    background: #D4EDDA;
    border-color: #C3E6CB;
}

.option_list .option.incorrect{
    color:  #9D2449;
    background: #F8D7DA;
    border-color: #F5C6CB;
}

.option_list .option.disabled{
    pointer-events: none;
}

.quiz_box footer{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer .next_btn{
    display: none;
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: white;
    border-color: black;
    background: black;
    border-radius: 10px;
    cursor: pointer;
}

footer .next_btn:hover{
    border-color: #10312B;
    background: #10312B;
    color: black;
}

.result_box{


    background: #235B4E;
    width: 450px;
    padding: 79px 90px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, 50%) scale(0.9);
    ;

}

.result_box .icon{
    font-size: 100px;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500px;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.score_text span p{
    font-weight: 600;
    padding: 0 4px;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 40px;
    width: 200px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.5 ease;
}